html, body {
margin: 0;

}

footer {
    position:fixed;
    bottom:0;
}

header, h1{
color: pink;
text-align: center;
}

form, input{
text-align: center;
}

#banner{
width: 100%;
}

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  width: 50%
  margin-bottom: 15px;
  display: block;

}

/* Style the form icons */
.icon {
  padding: 10px;
  background: pink;
  color: white;
  min-width: 50px;
}

/* Style the input fields */
.input-field {
  width: 50%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid pink;
}

/* Set a style for the submit button */
.btn {
  background-color: pink;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.social {
 width: 8%;
 float: right;
}
